<h1></h1>
<div ng-show="!showBible">
  <div class="row">
    <div class="col-lg-12">
      <!-- Single button using append-to-body -->
      <div class="btn-group col-xs-6" uib-dropdown dropdown-append-to-body>
        <button id="btn-append-to-body" type="button" class="btn btn-primary col-xs-12" uib-dropdown-toggle>
          Book <span class="caret"></span>
        </button>
        <ul class="dropdown-menu col-xs-3" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
          <li ng-repeat="book in books" ng-click="loadChapters(book.book_id, book.book_order)">{{book.book_name}}</li>
        </ul>
      </div>
      <div class="btn-group col-xs-6" uib-dropdown dropdown-append-to-body>
        <button id="btn-append-to-body" type="button" class="btn btn-primary col-xs-12" uib-dropdown-toggle>
          Chapters <span class="caret"></span>
        </button>
        <ul class="dropdown-menu col-xs-3" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
          <li ng-repeat="chapter in chapters" ng-click="loadVerses(book_id, book_order, chapter.chapter_id)">{{chapter.chapter_id}}</li>
        </ul>
      </div>  
    </div><!-- /.col-lg-12 -->
  </div>
  <h1></h1>  
  <div class="row">
    <div class="col-lg-12 panel panel-success">
      <div ng-repeat="verse in verses">
        <h1 ng-if="$first">{{verse.book_name}} {{verse.chapter_id}}</h1>
      	<p  ng-click="getVerseData(verse.book_name, verse.book_id, verse.chapter_id, verse.verse_id)">{{verse.verse_id}} {{verse.verse_text}}</p>
      </div>
    </div>
  </div>  
</div><!-- /.row -->