<div class="row">
  <div class="form-group col-xs-10 col-xs-offset-1">
    <input type="text" class="form-control" placeholder="Search notes" ng-model="searchText">
  </div>
</div>
<div class="row">
	<div ng-repeat="note in notes | filter: searchText" class="panel panel-success">
		<div class="panel-body panel-transparent">
			<h3>{{note.scripture_ref}}</h3>
			<h4>{{note.note}}</h4>
			<h4>{{note.url}}</h4>
			<img src="{{note.img}}"/>
			<h4>{{note.date}}</h4>
			<h4>{{note.location}}</h4>
			<h4>{{note.pastor}}</h4>
      <div class="pull-right">
      	<button class="btn btn-success fa fa-pencil" ng-click="inputChange(note.id)"" aria-hidden="true"></button>
      	<button class="btn btn-danger fa fa-trash-o" ng-click="deleteNote(note.id)"></button>
      </div>
		</div>
	</div>
</div>

