<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-custom navbar-brand" href="#">notetakersBible</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right"> 
      <!-- ng-if="user.uid" -->
        <li><a class="navbar-custom" ng-href="#!/homeBible">Bible</a></li>
        <li><a class="navbar-custom" ng-href="#!/readNote">Index</a></li>
        <li><a class="navbar-custom" ng-href="#!/logout">Logout</a></li>
      </ul>
<!-- 
      <ul class="nav navbar-nav navbar-right" ng-if="!user.uid">
        <li><a ng-href="#!/auth">Authenticate</a></li>        
      </ul>
 -->      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
