body {
  background-image: url("http://graceclovis.org/wp-content/uploads/2015/02/hebrew-text-closeup.jpg");
  background-size: cover;
  color: #221701; }

.dropdown-menu {
  max-height: 500px;
  overflow-y: auto; }

.auth, .btn-primary {
  margin: 5px;
  box-shadow: -2px 2px 3px #221701; }

.btn-primary, .btn-success, .btn-danger, .btn-default {
  color: #221701;
  background-image: url("https://americangoldleaf.com/image/cache/catalog/agoya-mother-of-pearl-sheet-773-800x800.jpg");
  background-size: cover;
  margin: 5px;
  box-shadow: -2px 2px 3px #221701; }

.auth-container {
  margin-top: 117px; }

.navbar {
  background-image: url(https://www.advantagelumber.com/images/lumber/xwalnut.jpg.pagespeed.ic.I5scP_b41Z.jpg);
  background-size: cover;
  border: 1px solid #221701;
  box-shadow: -1px 2px 3px #221701;
  width: 101%; }

textarea {
  overflow-y: auto;
  height: 300px;
  width: 100%; }

li:hover, p:hover {
  color: #221701;
  background-image: url("https://americangoldleaf.com/image/cache/catalog/agoya-mother-of-pearl-sheet-773-800x800.jpg");
  background-size: cover;
  margin: 5px;
  box-shadow: -2px 2px 3px #221701; }

.panel-body {
  box-shadow: -2px 2px 3px #221701; }

.navbar-default .navbar-brand {
  color: #F4E5C1;
  text-shadow: -2px 2px 2px #221701; }

.navbar-default .navbar-nav > li > a {
  color: #F4E5C1;
  text-shadow: -1px 1px 3px #221701; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #221701;
  text-shadow: -1px 1px 3px #F4E5C1; }

.btn-group > .btn:first-child {
  margin-left: 0;
  box-shadow: -2px 2px 3px #221701; }

.panel {
  box-shadow: -2px 2px 3px #221701; }

label, h3.shadow, h4.shadow {
  text-shadow: 0px 0px 15px #F4E5C1; }

.thumbnail {
  margin: 0 auto 20px; }
